<h3>Hi <%= @volunteer.name %></h3>

<h4>Get ready to help out!</h4>

<p>Currently, you have not signed up for any volunteer opportunities. Please answer the following three questions and we'll show you a list of available opportunities to choose from!</p>

<%= form_for @volunteer do |f| %>
  <%= f.label "Where would you like to help?" %><br>
  <% ["Queens", "Brooklyn", "Manhattan", "Bronx", "Staten Island"].each do |borough| %>
    <%= radio_button "volunteer", "location", borough %><%= borough %><br>
  <% end %>

  <%= f.label "When would you like to help?" %><br>
  <% Date.today.upto(Date.today.next_day(6)).each do |day| %>
    <%= radio_button "volunteer", "datetime", day %><%= day.strftime("%B %d, %Y") %><br>
  <% end %>

  <%= f.label "What skills do you have?" %><br>
  <%= f.collection_check_boxes :skill_ids, Skill.all, :id, :name %><br>
  <%= f.submit %>
<% end %>