<%= render 'center' %>

<h1>Check out these opportunities!</h1>
<h3>Which one would you like to participate in?</h3>
<hr class="colored">

<% if @matches.size == 0 %>
  <p class="bg-danger">Sorry, there are no volunteering opportunities that match your criteria. Please try a different date.</p>
<% else %>

  <% @matches.each_with_index do |match, idx| %>
    <div class="col-md-<%= @columns %> col-sm-6 wow fadeIn" data-wow-delay=".2s">
      <div class="item">
        <!-- <img src="/public/img/people/<%= idx +1 %>.jpg" class="img-responsive" alt=""> -->
        <div class="caption">
          <h3><%= match.organization.name %></h3>
          <h4><%= match.name %></h4>
          <p><%= match.datetime.strftime("%B %d, %Y") %></p>

          <%= button_to [:final, @volunteer], { :name => :opportunity_id, :value => match.id, :class => "btn btn-outline-dark" } do %>
            Register for <%= match.name %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

<% end %>
<%= render 'center_close' %>