<h1>Organization Name: <%= @organization.name %></h1>
 <%= image_tag @organization.photo %>

These are all your opportunities:
<ul>
  <% @organization.opportunities.each do |o| %>
    <li><%= o.name %> on <%= o.datetime.strftime("%B %d, %Y")  %></li>
    <% end %>
</ul>

<button><%= link_to "Add New Opportunity", new_organization_opportunity_path(@organization) %></button>